body{
    background-size: cover;
    min-height: 650px;
    position: relative;
}

.bg-color
{
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 700px;
}

.login-page {
  width: 500px;
  padding: 5% 0 0;
  margin: auto;
}

#fondo{
  background-color: skyblue;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}


.frb-group {
  margin: 15px 0;
}

.frb ~ .frb {
  margin-top: 15px;
}

.frb input[type="radio"]:empty,
.frb input[type="checkbox"]:empty {
  
  display: none;
}

.frb input[type="radio"] ~ label:before,
.frb input[type="checkbox"] ~ label:before {
  font-family: FontAwesome;
  content: '\f096';
  position: absolute;
  top: 50%;
  margin-top: -11px;
  left: 15px;
}

.frb input[type="radio"]:checked ~ label:before,
.frb input[type="checkbox"]:checked ~ label:before {
  content: '\f046';
}

.frb input[type="radio"] ~ label,
.frb input[type="checkbox"] ~ label {
  position: relative;
  cursor: pointer;
  width: 100%;
  border: 1px solid #ccc;

  background-color: #f2f2f2;
}


.frb input[type="radio"]:empty ~ label span,
.frb input[type="checkbox"]:empty ~ label span {
  display: inline-block;
}

.frb input[type="radio"]:empty ~ label span.frb-title,
.frb input[type="checkbox"]:empty ~ label span.frb-title {

  font-family: "Roboto", sans-serif;
  margin: 5px 5px 5px 50px;
}